* {
	box-sizing: border-box;
}
html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: black;
	color: white;
	font-family: Courier New;
	font-size: 16pt;
	padding: 0px 40px;
	letter-spacing: 6px;
	word-spacing: 10px;
	text-align: center;
	z-index: 1000;
}
h1 {
	margin: 10px 0px;
}
p {
	margin: 0px 0px 15px 0px;
}