* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header, footer {
	background-color: black;
	color: white;
	width: 100%;
	font-family: Courier New;
	font-size: 16pt;
	text-align: center;
	z-index: 1000;
}