---
---

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	background-color: black;
}
header, footer {
	background-color: black;
	color: white;
	width: 100%;
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	font-size: 9pt;
	font-weight: lighter;
	letter-spacing: 6px;
	text-align: center;
	z-index: 1000;
	
}
header {
	position: fixed;
}
footer {
	align-self: flex-end;
}
footer li {
	display: inline;
}
.container {
	margin: auto;
	padding-top: 30px; /* header height */
	width: 65%;
	height: 100%;
	background-color: #262626;
	color: white;
	font-family: 'Vollkorn';
	font-size: 16pt;
}
.section-banner {
	position: relative;
	height: 200px;
	overflow: hidden;
}
.section-title {
    position: absolute;
	
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18pt;
	color: black;
	line-height: 0.8;
}
img {
	width: 100%;
}
article {
	padding: 30px 100px 200px 100px;
}
article h2 {
	margin: 30px 0px;
}
article li {
	margin: 10px 0px 10px 50px;
}

.page {
	float: left;
	width: 100vw;
	height: 100vh;
  }
  
  /* for index */

  .main-body {
	display: flex;
	/*justify-content: center;  align horizontal */
	align-items: center;
	width: 100wh;
	height: 100vh;
  }

  .docScroller {
	overflow-x: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	scroll-snap-points-y: repeat(100%);
	scroll-snap-type: mandatory;
	scroll-snap-destination: 100% 0%;
  }
  .docScroller::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}
  
  .page-button {

	width: 100wh;
	height: 100vh;
  }
  
   .img-container {
	display: flex;
	align-items: center;
	width: 100wh;
	height: 100vh;

}

/* the vertical scroll */

/* Common styles and resets */

.dotstyle ul {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dotstyle li {
	position: relative;
	display: block;
	margin: 10px 16px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.dotstyle li a {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
}

.dotstyle li a:focus {
	outline: none;
}

/* Individual styles and effects */

/* Fill up */

.dotstyle-fillup li a {
	overflow: hidden;
	background-color: transparent;
	box-shadow: inset 0 0 0 2px white;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

.dotstyle-fillup li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 1px #fff;
	-webkit-transition: height 0.3s ease;
	transition: height 0.3s ease;
}

.dotstyle-fillup li a:hover,
.dotstyle-fillup li a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}

.dotstyle-fillup li.current a::after {
	height: 100%;
}