* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	background-color: #001b47;
}
header, footer {
	background-color: black;
	color: white;
	width: 100%;
	font-family: Courier New;
	font-size: 14pt;
	text-align: center;
	z-index: 1000;
}
header {
	position: fixed;
}
footer li {
	display: inline;
}
a {
	text-decoration: none;
	color: #0090ff;
}
.container {
	margin: auto;
	padding-top: 40px; /* header height */
	width: 65%;
	height: 100%;
	background-color: #262626;
	color: white;
	font-family: 'Vollkorn';
	font-size: 18pt;
}
.section-banner {
	position: relative;
	height: 200px;
	overflow: hidden;
}
.section-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20pt;
	color: black;
	line-height: 0.8;
}
img {
	width: 100%;
}
article {
	padding: 30px 100px 200px 100px;
}
article h2 {
	margin: 30px 0px;
}
article li {
	margin: 10px 0px 10px 50px;
}

/* INDEX PAGE */
.background {
	position: relative;
	width: 100%;
	height: 100%;
}

.button-container {
	position: absolute;
	top: 600px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 75%;
}
.page-button {
	position: relative;
	float: left;
	margin: 3%;
	width: 44%;
	height: 44%;
	border: 15px solid black;
	border-radius: 30px;
	overflow: hidden;
}
.button-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	font-family: Courier New;
	font-size: 25pt;
}
