---
---
<!doctype html>
<html>
	<head>

	{% include head.html %}

	<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="./scripts/jquery.onepage-scroll.js"></script>
	<link href='./css/onepage-scroll.css' rel='stylesheet' type='text/css'>
	<link href='./css/component.css' rel='stylesheet' type='text/css'>

	<script>
	  $(document).ready(function(){
      $(".main").onepage_scroll({
      	dotstyle: "scaleup",
        sectionContainer: "section",
		keyboard: true,
        responsiveFallback: 600,
        loop: true
      });
		});

	</script>
</head>
<body>

	{% include header.html %}

  <div class="main-body">
	  <div class="main">
			<section id="diy">
				<div class="img-container">
					<img src= {{ site.diy-section-image }} >
					<a href="{{ site.url }}/diy/">
						<div class="link-box" id="diy"></div>
						<div class="index-footer">	<footer>project logs, promo videos, technical details, useful links, background info</footer></div>
					</a>
				</div>
			</section>
				<section id="recur">
					<div class="img-container">
							<img src= {{ site.recur-section-image }} >
							<a href="{{ site.url }}/recur/">
								<div class="link-box" id="recur"></div>
								<div class="index-footer">	<footer>an open, diy video sampler</footer></div>
							</a>
						</div>
				</section>
				<section id="trashpalace">
						<div class="img-container">
							<img src= {{ site.trashpalace-section-image }} >
							<a href="{{ site.url }}/trashpalace/">
								<div class="link-box" id="trashpalace"></div>
								<div class="index-footer">	<footer>a weekly celebration of outsider, strange, experimental and cult cinema</footer></div>
							</a>
						</div>
				</section>
				<section id="sybersex">
						<div class="img-container">
							<img src= {{ site.sybersex-section-image }} >
							<a href="{{ site.url }}/sybersex/">
								<div class="link-box" id="sybersex"></div>
								<div class="index-footer">	<footer>a reluctant union of magnetic tape and deejay culture</footer></div>
							</a>
						</div>
				</section>
				<section id="tablehooters">
						<div class="img-container">
							<img src= {{ site.tablehooters-section-image }} >
							<a href="{{ site.url }}/tablehooters/">
								<div class="link-box" id="tablehooters"></div>
								<div class="index-footer">	<footer>a toy-keyboard group meditation session</footer></div>
							</a>
						</div>
				</section>
				<section id="wemakeporn">
						<div class="img-container">
							<img src= {{ site.wemakeporn-section-image }} >
							<a href="{{ site.url }}/wemakeporn/">
								<div class="link-box" id="wemakeporn"></div>
								<div class="index-footer">	<footer>film production, audio composition and creative collaboration</footer></div>
							</a>
						</div>
				</section>
				<section id="irregular">
					<div class="img-container">
						<img src= {{ site.irregular-section-image }} >
						<a href="{{ site.url }}/irregular/">
							<div class="link-box" id="irregular"></div>
							<div class="index-footer">	<footer>?	?	?</footer></div>
						</a>
					</div>
				</section>
				<section id="cyberboy666">
					<div class="img-container">
						<img src= {{ site.cyberboy666-section-image }} >
						<a href="{{ site.url }}/cyberboy666/">
							<div class="link-box" id="cyberboy666"></div>
							<div class="index-footer">	<footer>bent video // salvaged cyberjunk // dead media // found footage // VHS trash</footer></div>
						</a>
					</div>
				</section>
				
    		</div>
			
		  </div>
		  

	</body>
</html>
