---
---
<!DOCTYPE html>
<html lang="en">
	<head>
		
		{% include head.html %}
		
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.js"></script>
	
	</head>
	<body>
		
		{% include header.html %}
		
		<div class="background">
			<img src="/images/index-background.gif">
			<div class="button-container">
				<div class="page-button"><a href="{{ site.url }}/diy/"><img src="./images/diy-poster.jpg" width="100%"><div class="button-title"><p><b>DIY</b> video builds</p></div></a></div>
				<div class="page-button"><a href="{{ site.url }}/archive/"><img src="./images/achive-poster.jpg" height="100%"><div class="button-title"><p>video hardware <b>ARCHIVE</b></p></div></a></div>
				<div class="page-button"><a href="{{ site.url }}/trash/"><img src="./images/trash-poster.png" height="100%"><div class="button-title"><p><b>TRASH</b> palace film club</p></div></a></div>
				<div class="page-button"><a href="{{ site.url }}/other/"><img src="./images/other-poster.jpg" width="100%"><div class="button-title"><p>about, thoughts & <b>OTHER</b></p></div></a></div>
			</div>
		</div>
		
		{% include footer.html %}
		
		<script>
			var lc = $('.button-container');
			lc.css({
				'height': lc.width() + 'px'
			});
			lc.css({
				'margin-top': $( window ).height()
			})
		</script>
	</body>
</html>