* {
	box-sizing: border-box;
}
html {
	position: relative;
	width: 100%;
	min-height: 100%;
	margin: 0px;
	padding: 0px;
}
body {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}


header, footer {
	background-color: black;
	color: white;
	width: 100%;
	font-family: Courier New;
	font-size: 16pt;
	text-align: center;
	z-index: 1000;
}
header {
	position: fixed;
	top: 0;
	left: 0;
	letter-spacing: 6px;
	word-spacing: 10px;	
	line-height: 0.9;
}
header h1 {
	font-size: 20pt;
	font-weight: bold;
	margin: 3px;
}
article {
	position: relative;
	font-family: 'Vollkorn';
	font-size: 18pt;
	width: 65%;
	margin: 0px auto;
	padding: 35px 0px 0px 0px;
}
footer {
	position: relative;
	bottom: 0px;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
ul, li {
	margin: 7px;
}
footer li {
	display: inline;
}
h1 {
	margin: 10px 0px;
}
p {
	margin: 0px 0px 15px 0px;
}