body {
	background-color: $bg-color;
}










body {
	background-color: #001b47;
	/* background: url("/images/index-background.gif"); */
}
article {
	background-color: #191919;
	color: white;
}
article h1 {
	color: black;
}
.heading-banner {
    position: relative;
	height: 200px;
	overflow: hidden;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 34pt;
	line-height: 0.8;
}
.content {
	padding: 10px 100px;
}
img {
    width: 100%;
}