---
layout: default
---

{% if page.type == 'diy' %}
	{% assign image =  site.diy-section-image %}
{% endif %}
{% if page.type == 'recur' %}
	{% assign image =  site.recur-section-image %}
{% endif %}
{% if page.type == 'trashpalace' %}
	{% assign image =  site.trashpalace-section-image %}
{% endif %}
{% if page.type == 'sybersex' %}
	{% assign image =  site.sybersex-section-image %}
{% endif %}
{% if page.type == 'tablehooters' %}
	{% assign image =  site.tablehooters-section-image %}
{% endif %}
{% if page.type == 'wemakeporn' %}
	{% assign image =  site.wemakeporn-section-image %}
{% endif %}
{% if page.type == 'irregular' %}
	{% assign image =  site.irregular-section-image %}
{% endif %}
{% if page.type == 'cyberboy666' %}
	{% assign image =  site.cyberboy666-section-image %}
{% endif %}

<div class="container">
	<div class="section-banner">
		<a href='{{ site.url }}/{{ page.type }}/'><img src={{ image }}></a>
	</div>
	<article>
		{{ content }}
	</article>
</div>