---
layout: default
---

{% if page.type == 'diy' %}
	{% assign image =  site.diy-banner-image %}
{% endif %}
{% if page.type == 'recur' %}
	{% assign image =  site.recur-banner-image %}
{% endif %}
{% if page.type == 'trashpalace' %}
	{% assign image =  site.trashpalace-banner-image %}
{% endif %}
{% if page.type == 'sybersex' %}
	{% assign image =  site.sybersex-banner-image %}
{% endif %}
{% if page.type == 'tablehooters' %}
	{% assign image =  site.tablehooters-banner-image %}
{% endif %}
{% if page.type == 'wemakeporn' %}
	{% assign image =  site.wemakeporn-banner-image %}
{% endif %}
{% if page.type == 'irregular' %}
	{% assign image =  site.irregular-banner-image %}
{% endif %}
{% if page.type == 'cyberboy666' %}
	{% assign image =  site.cyberboy666-banner-image %}
{% endif %}
{% if page.type == 'lateralmovement' %}
	{% assign image =  site.lateralmovement-banner-image %}
{% endif %}
{% if page.type == 'polyphaseportal' %}
	{% assign image =  site.polyphaseportal-banner-image %}
{% endif %}
{% if page.type == 'scanlines' %}
	{% assign image =  site.scanlines-banner-image %}
{% endif %}
{% if page.type == 'underscores' %}
	{% assign image =  site.underscores-banner-image %}
{% endif %}
{% if page.type == 'videocircuitsberlin' %}
	{% assign image =  site.videocircuitsberlin-banner-image %}
{% endif %}

<div class="container">
	<div class="section-banner">
		<a href='{{ site.url }}/{{ page.type }}/'><img src={{ image }}></a>
	</div>
	<article>
		{{ content }}
	</article>
</div>