---
layout: default
---
<div class="heading-banner">
	<img src="/images/archive-poster2.jpg">
	<div class="center">
		<h1>{{ page.title }}</h1>
	</div>
</div>
<div class="content">
	{{ content }}
</div>

---
---
<!DOCTYPE html>
<html lang="en">

	{% include head.html %}
	<link rel='stylesheet' href='/css/intro.css'>

	<body>
		{% include header.html %}
		<div class="heading-banner">
			<img src="/images/archive-poster2.jpg">
			<div class="center">
				<h1>{{ page.title }}</h1>
			</div>
		</div>
		
		<div class="content">
			{{ content }}
		</div>
		<article>
			{{ content }}
		</article>
		{% include footer.html %}
	</body>

</html>